body, html{
    color: #fff;
    font-family: 'Open-Sans', sans-serif;
    
}

body{
    background: url(../img/forest_raini.jpg) repeat center center fixed;
    background-size: cover;
}

header{
    align-items: center;
    display: flex;    
    flex-direction: column;
    margin-top: 3em;
    text-align: center;    
}

.foto-perfil{
    border: 2px solid #fff;
    border-radius: 100%;
    box-shadow: rgb(28, 32, 93 / 24%) 0px 2px 8px 0px;
    height: auto;
    width: 8em;
}

.titulo{
    background-color: #000a;
    backdrop-filter: blur(10px) saturate(100%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(100%) contrast(180%);
    border: 1px solid #fffa;
    border-radius: 1em;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 0.8em;
    padding: 0.4em 0.6em;   
}

.lista{
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 480px;
    padding: 2em;
}

.lista-item{
    background-color: #fffa;
    backdrop-filter: blur(10px) saturate(100%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(100%) contrast(180%);
    border-radius: 10em;
    box-shadow: rgb(28, 32, 93 / 24%) 0px 2px 8px 0px;
    margin: 1.4em 0;
    padding: 1em;  
}

.link:hover{
    font-size: 20px;
    font-weight: semi-bold;
}

.link{
    align-items: center;
    color: black;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: center;
}

#vanta{
    height: 100%;    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;    
    width: 100%;
    z-index: 0;
}